/* General Blueprint Style */

@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../assets/fonts/bpicons/bpicons.eot');
	src: url('../assets/fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/bpicons/bpicons.woff') format('woff'), url('../assets/fonts/bpicons/bpicons.ttf') format('truetype'), url('../assets/fonts/bpicons/bpicons.svg#bpicons') format('svg');
}


/* Made with http://icomoon.io/ */


/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

/* dark theme */
:root {
  --background: #1d1e21;
  --page-background: #2C2A2D;

  --text: #e0e0e0;
  --text-heading: #beb7c2;
  --text-secondary: #d1d0d3;
  --text-emphasized: #7B81E1;

  --modal-subtle: #434244;
  --modal-dark: #414376;
  --modal-light: #6063a5;

  --icon-secondary: #4f4f64;
  --menu-button: #a3a0ac;
}

/* light theme */
/* :root {
  --background: #E8E8E8;
  --page-background: #e0e0e0;

  --text: #000000;
  --text-heading: #645f64;
  --text-secondary: #504E50;
  --text-emphasized: #656ab8;

  --modal-subtle: #CDCCCD;
  --modal-dark: #8A8DC3;
  --modal-light: #A0A3DC;

  --icon-secondary: #4a494b;
  --menu-button: #88868a;
} */

/* Main styles */

body {
	font-family: 'Roboto', 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
	color: var(--text-secondary);
	background: var(--background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3 {
	font-size: 1.3em;
	color: var(--text);
}

p {
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: var(--text-emphasized);
	outline: none;
}

a:hover {
	color: var(--text);
}

h2 {
	color: var(--text-heading);
	font-weight: normal;
	font-size: 1.5em;
}


.about {
	padding: 0em 10vw 2em;
}

/* Blueprint header */

.bp-header {
	padding: 6em 10vw 2em;
}

.bp-header__title {
	font-size: 2.125em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--text);
}

.bp-header__desc {
	font-size: 1.25em;
	margin: 0.5em 0 1em;
	padding: 0;
}

.bp-header__present {
	font-size: 0.85em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 0.6em 0.1em;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: var(--text-emphasized);
}

.bp-tooltip:after {
	font-size: 50%;
	font-size: 75%;
	position: relative;
	top: -8px;
	left: -12px;
	width: 30px;
	height: 30px;
}

.bp-tooltip:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	left: auto;
	margin-left: 4px;
	padding: 0.8em 1em;
	text-align: left;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: var(--text);
	background: var(--text-emphasized);
}

.bp-nav {
	margin: 0 0 0 -0.75em;
}

.bp-nav__item {
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 3.5em;
	margin: 0 0.1em;
	text-align: left;
	border-radius: 50%;
}

.bp-nav__item > span {
	display: none;
}

.bp-nav__item:hover:before {
	content: attr(data-info);
	font-size: 1em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	left: 0;
	width: 600%;
	text-align: left;
	pointer-events: none;
	color: var(--text-secondary);
}

.bp-nav__item:hover {
	background: var(--text-emphasized);
}

.bp-icon > div {
	margin: 1em 1em;
}

.bp-icon:after {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: var(--text-emphasized);
	-webkit-font-smoothing: antialiased;

	speak: none;
}

.bp-nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.bp-nav a:hover:after {
	color: var(--text);
}

.bp-icon--next:after {
	content: '\e000';
}

.bp-icon--drop:after {
	content: '\e001';
}

.bp-icon--archive:after {
	content: '\e002';
}

.bp-icon--about:after {
	content: '\e003';
}

.bp-icon--prev:after {
	content: '\e004';
}

@media screen and (max-width: 40em) {
	.bp-header {
		padding: 50px 20px 1em;
	}
	.bp-header__title {
		font-size: 1.8em;
	}
}
