/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

/* dark theme */
/* :root {
  --background: #1d1e21;
  --page-background: #2C2A2D;

  --text: #e0e0e0;
  --text-heading: #beb7c2;
  --text-secondary: #d1d0d3;
  --text-emphasized: #7B81E1;

  --modal-subtle: #434244;
  --modal-dark: #414376;
  --modal-light: #6063a5;

  --icon-secondary: #4f4f64;
  --menu-button: #a3a0ac;
} */

/* light theme */
:root {
  --background: #E8E8E8;
  --page-background: #e0e0e0;

  --text: #000000;
  --text-heading: #645f64;
  --text-secondary: #504E50;
  --text-emphasized: #656ab8;

  --modal-subtle: #CDCCCD;
  --modal-dark: #8A8DC3;
  --modal-light: #A0A3DC;

  --icon-secondary: #4a494b;
  --menu-button: #88868a;
}

/* Main styles */

body {
	font-family: 'Roboto', 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
	color: var(--text-secondary);
	background: var(--background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3 {
	font-size: 1.3em;
	color: var(--text);
}

p {
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: var(--text-emphasized);
	outline: none;
}

a:hover {
	color: var(--text);
}

h2 {
	color: var(--text-heading);
	font-weight: normal;
	font-size: 1.5em;
}

.about {
	padding: 0em 10vw 1em;
}

/* Blueprint header */

.bp-header {
	padding: 6em 10vw 2em;
}

.bp-header__title {
	font-size: 2.125em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--text);
}

.bp-header__desc {
	font-size: 1.25em;
	margin: 0.5em 0 1em;
	padding: 0;
}

.bp-header__present {
	font-size: 0.85em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 0.6em 0.1em;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: var(--text-emphasized);
}

.bp-tooltip:after {
	font-size: 50%;
	font-size: 75%;
	position: relative;
	top: -8px;
	left: -12px;
	width: 30px;
	height: 30px;
}

.bp-tooltip:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	left: auto;
	margin-left: 4px;
	padding: 0.8em 1em;
	text-align: left;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: var(--text);
	background: var(--text-emphasized);
}

.bp-nav {
	margin: 0 0 0 -0.75em;
}

.bp-nav__item {
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 3.5em;
	margin: 0 0.1em;
	text-align: left;
	border-radius: 50%;
}

.bp-nav__item > span {
	display: none;
}

.bp-nav__item:hover:before {
	content: attr(data-info);
	font-size: 1em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	left: 0;
	width: 600%;
	text-align: left;
	pointer-events: none;
	color: var(--text-secondary);
}

.bp-nav__item:hover {
	background: var(--text-emphasized);
}

.bp-nav a:hover:after {
	color: var(--text);
}

.explore {
	animation-duration: 1.7s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    position: relative;
    animation-name: bounce-3;
    animation-timing-function: ease;
}

/* Theme Switch Styles */
/* The switch - the box around the slider */
.switch {
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 34px;
  float: right;
  margin: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1d1e21;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1d1e21;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sun {
	position: absolute;
	z-index: 2;
	font-family: 'icomoon', Arial, sans-serif;
	font-size: 1.3em;
	color: rgb(202, 139, 20);
	transform: translate(156%, 30%);
}

.sun:before {
	content: '\f185';
}

.moon {
	position: absolute;
	z-index: 2;
	font-family: 'icomoon', Arial, sans-serif;
	font-size: 1.3em;
	color: rgb(97, 1, 97);
	transform: translate(50%, 30%);
}

.moon:before {
	content: '\f186';
}

.hidden {
	visibility: hidden;
}

/* Contact Page Styling */
.contact-container {
	display: flex;
}

.contact-map {
	width: 50%;
	height: calc(100vw * 0.25);
}

.contact-info {
	padding: 25px;
	width: 50%;
}

.contact-row {
	display: flex;
	flex-direction: row;
}

.contact-icon {
	margin: 0.75em 0.5em 0.75em 0;
}

.location:before {
	content: "\f041";
}

.email:before {
	content: "\f0e0";
}

.phone:before {
	content: "\f095";
}

/* tsParticle Styling */
canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- tsparticles container ---- */
#tsparticles {
    position: relative;
    width: 100%;
	height: 100%;
}

#particle-btn {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ---- collapsible style ---- */
.collapsible {
  background-color: var(--modal-light);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  box-shadow: 2px 2px var(--text-secondary);
  font-size: 1.5em;
  color: var(--text);
}

.active, .collapsible:hover {
  background-color: var(--modal-dark);
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--modal-subtle);
}


@media screen and (max-width: 40em) {
	.bp-header {
		padding: 50px 20px 1em;
	}
	.bp-header__title {
		font-size: 1.8em;
	}
	.switch {
		visibility: hidden;
	}
}

@media screen and (max-width: 60em) {
	.contact-container {
		flex-direction: column;
	}
	.contact-map {
		width: 100%;
		height: calc(100vw * 0.5);
	}
	.contact-info {
		width: 100%;
	}
}
